.scroll-wrapper {
  overflow: hidden;
  width: 100%;
}

.scroll-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.badge-img {
  height: 100px;
  margin: 0 2vw;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
