.SkillCard-main-div{
  background-color: rgb(0, 0, 0);
  width: 40%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  border-radius: 10px ;
}

.SkillCard-title-div{
  background-color: rgb(52, 40, 40);
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
    /* background-image: url(https://media1.tenor.com/m/cKgOapMuyWcAAAAd/coding-developer-code.gif); */
  
  text-align: center;

}

.SkillCard-list-div{
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 43, 15);
}

.SkillCard-list-div li{
  list-style-type: none;
}

