*{
  box-sizing: border-box;
}
.skills-main-div{
  background-color: rgb(212, 57, 57);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
}

.skills-title-div{
  background-color: rgb(33, 141, 115);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.15;
  background-image: url(https://media1.tenor.com/m/cKgOapMuyWcAAAAd/coding-developer-code.gif);
}

.skills-title-div h1{
  font-size: 450%;
}

.skills-skillcard-div{
  padding-top: 1%;
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 100%;
  flex: 0.75;
}

